@model IEnumerable<InventoryManager.DAL.Models.Item>

<h1>Items</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Group Name</th> <!-- Изменено на Group Name -->
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@(item.Group != null ? item.Group.Name : "N/A")</td> <!-- Добавлена проверка на null -->
                <td>@item.Price</td>
            </tr>
        }

    </tbody>
</table>

<a href="/api/Items/Create" class="btn btn-success">Create new item</a>
