@{
    ViewData["Title"] = "Home Page";
}

<h1>Item Groups</h1>
<a class="btn btn-primary" href="@Url.Action("Get", "ItemGroups")">View item groups</a>

<h1>Item Groups</h1>
<a class="btn btn-primary" href="@Url.Action("Get", "Items")">View items</a>