@{
    ViewData["Title"] = "Home Page";
}

<h1>Item Groups</h1>
<a class="btn btn-primary" href="@Url.Action("Get", "ItemGroups")">View item groups</a>

<h1>Items</h1>
<a class="btn btn-primary" href="@Url.Action("Get", "Items")">View items</a>

<h1>Warehouses</h1>
<a class="btn btn-primary" href="@Url.Action("Get", "Warehouses")">View warehouses</a>

<h1>Orders</h1>
<a class="btn btn-primary" href="@Url.Action("Get", "Orders")">View orders</a>